@import "reset.css";

@import "common.css";
@import "header.css";
@import "footer.css";
@import "tabs.css";
@import "offices.css";

.clear {
    clear: both;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}

.clear-in:after {
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}
.clear-in { display: inline-block; }
.clear-in { display: block; }