<!DOCTYPE HTML>
<html>
    <head>
        <title>{% block page_title %} Layout Page Title{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="css/style.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="css/new.css"/>
        <link rel="stylesheet" type="text/css" media="screen" href="css/smoothness/jquery-ui.css"/>
        <link href="/img/favicon.gif" rel="shortcut icon" />
        <script type="text/javascript" src="/js/jquery.js" charset="utf-8"></script>
        {% block page_head %}{% endblock %}
        <script type="text/javascript" src="js/jquery-ui.js"></script>
        <script type="text/javascript" src="/js/script.js"></script>
    </head>
    <body>
        <header>
            <div class="wrapper">
                <div class="user-menu">
                    <a class="button green corners" href="#">войти</a>
                    <span>или</span>
                    <a class="button grey corners" href="#">зарегистрироваться</a>
                </div>
                <figure>
                    <a href="#">
                        <img class="ib" src="img/logo.png" width="225" height="30" alt="logo"/>
                    </a>
                </figure>
            </div>
            <div class="main-menu">
                <div class="wrapper">
                    <div class="search">
                        <label for="search">поиск</label>
                        <input class="ui-corner-all" id="search" type="text" value=""/>
                        <img src="img/search.png" class="" width="12" height="10" alt=""/>
                    </div>
                    <ul class="c">
                        <li class="ib"><a href="#">Главное</a></li>
                        <li class="ib"><a href="#">Участники</a></li>
                        <li class="ib"><a href="#">О проекте</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <article class="{% block article_class %}{% endblock %}">
            <div class="wrapper">
                <ul class="c tabs">
                    <li class="ib active"><a class="ui-corner-all" href="#">Главная</a></li>
                    <li class="ib"><a class="ui-corner-all" href="#">Участники</a></li>
                    <li class="ib"><a class="ui-corner-all" href="#">О проекте</a></li>
                </ul>
                <div class="content corners">
                    <div class="text">
                    {% block content %} {% endblock %}
                    </div>
                </div>
            </div>
        </article>
        <footer>
            <div class="c wrapper">
                <div class="ib profile">
                    <h3>Кутеев Слава</h3>
                    <a href="#">Написать</a>
                    <a href="#">Почтовый ящик</a>
                    <a href="#">Настройки профиля</a>
                    <a href="#">Выйти</a>
                </div>
                <div class="ib sections">
                    <h3>Разделы</h3>
                    <a href="#">Блоги</a>
                    <a href="#">Люди</a>
                    <a href="#">О проекте</a>
                    <a href="#">Модули</a>
                </div>
                <div class="ib information">
                    <h3>Информация</h3>
                    <a href="#">Реклама на сайте</a>
                    <a href="#">Обратная связь</a>
                    <a href="#">Загрузить LiveStreet</a>
                </div>
                <div class="ib copy">
                    © Tez Tour, 2011-2012 <br />
                    // Бюро Социальных Коммуникаций
                </div>
            </div>
        </footer>
    </body>
</html>
