@import "reset.css";
@import "form.css";

@import "common.css";
@import "header.css";
@import "footer.css";
@import "tabs.css";
@import "article.css";

.clear {
    clear: both;
}

.clearleft {
    clear: left;
}

.clearright {
    clear: right;
}