{% extends 'layout.twig' %}

{% block page_title %}Обзоры - TezClub{% endblock %}

{% block content %}
<div class="text corners">
    <div class="options">
        {% if topics %}
            {% include 'list_options.twig' %}
        {% endif %}
    </div>
    <div class="list short hotels">
        {% include 'list_short_hotel.twig' %}
    </div>
    <div class="pagination">
        Страница
        <ul class="c ib pagging">
        {% for page in pagination %}
            {% if page.current %}
                <li class="ib active">{{page.id}}</li>
            {% else %}
                <li class="ib"><a href="/hotels/blog/{{page.id}}">{{page.id}}</a></li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
