{% if currentpage == 'hotels'%}
<h3>Сортировать обзоры про отель</h3>
<form method="post" action="/hotels/hotel/4">
    <select name="sortby"> 
        <option value="DESC">Последние</option> 
        <option value="ASC"  {% if sortby == "ASC" %} selected {% endif %}>Первые</option> 
    </select>
</form>

{% elseif currentpage == 'blog' %}
<h3>Сортировать обзоры </h3>
<form method="post" action="/hotels/blog">
    <select name="sortby"> 
        <option value="DESC">Последние</option> 
        <option value="ASC" {% if sortby == "ASC" %} selected {% endif %}>Первые</option> 
    </select>
    <select name="sortbyhotels">
        <option value="">По отелям</option>
        {% for hotel in hotels %}
        <option value="{{ hotel.id }}" {% if sortbyhotels == hotel.id %} selected {% endif %}>{{ hotel.name }}</option>
        {% endfor %}
    </select>
    <select name="sortbybloggers">
        <option value="">По блоггерам</option>
        {% for blogger in bloggers %}
            {% if blogger.count_topic > 0 %}
            <option value="{{ blogger.id }}" {% if sortbybloggers == blogger.id %} selected {% endif %}>{{ blogger.name }}</option>
            {% endif %}
        {% endfor %}
    </select>
</form>

{% elseif currentpage == 'bloggers' %}

{% endif %}