{% extends 'layout.twig' %}

{% block page_title %} About PAGE TITLE {% endblock %}

{% block page_head %}
<script type="text/javascript" src="/js/jquery.youtubepopup.min.js"></script>
<script>
jQuery(document).ready(function($){
	$("a.carvideo").YouTubePopup({ idAttribute: 'youtube', hideTitleBar: true });
});
</script>

{% endblock %}

{% block article_class %}prize{% endblock %}

{% block content %}
<div class="headline corners">
	<h1>О конкурсе</h1>

	<ul class="steps">
		<li>
			<span class="ib">1</span>
			<div class="ib">
				<div class="ib image">
					<img src="img/prize/case.jpg" width="230" height="230" alt=""/>
				</div>
				<div class="ib text" style="width: 425px;">
					<h3>Работа Блоггером в Tez Tour</h3>
					<p><strong>Победитель СуперФинала получитпредложение от компании Tez Tour, статьих персональным путешественником-обозревателем.</strong></p>
					<p>Работа - постоянное путешествие, новые горизонты и эмоции, возможность делиться открытиями и полезной информацией с другими туристами.</p>
				</div>
			</div>
		</li>
		<li>
			<span class="ib">2</span>
			<div class="ib">
				<div class="ib text" style="width: 345px;">
					<h3>Новый стильный автомобиль Nissan Juke</h3>
					<p>В перерывах между путешествиями, победитель проекта будет передвигаться на собственном новом автомобиле <strong>Nissan Juke</strong>.</p>

					<h3>Автомобиль Nissan Juke</h3>
					<p>1. спортивный, дерзкий, озорной</p>
					<p>2. вместительный</p>
					<p>3. три алгоритма работы: Sport, Normal, Eco</p>
					<p>4. под капотом – турбированные 1,6л</p>
					<p>5. стильный и функциональный салон</p>
					<p>6. Пять дверей, пять посадочных мест</p>
					<p><strong>Воплощение яркой дизайнерской мысли!</strong></p>
				</div>
				<div class="ib car">
					<img src="img/prize/car.png" width="325" height="180" alt=""/>
					<a class="testdrive" href="#" title="...">Test Drive</a>
				</div>
			</div>

		</li>
	</ul>
	
	<div class="actions">
		<a class="carvideo" youtube="yvhDv1dR0Gs" href="#" title="...">Смотреть видео</a><br/><br/>
		<a href="http://nissan.kiyauto.com.ua/files/Juke.pdf" class="button grey corners">Характеристики автомобиля</a>
	</div>

	<hr class="whline">
	<div class="goabout">
		<a class="button participate blue corners link" href="/registration">Участвовать</a>
		<br>
		<br>
		<a class="alink" href="/members">Посмотреть участников</a>
	</div>
</div>
{% endblock %}