{% extends 'layout.twig' %}

{% block page_title %} PAGE TITLE {% endblock %}

{% block page_head %} {% endblock %}

{% block article_class %}prize{% endblock %}

{% block content %}
<div class="headline corners">
	<h1>Главные призы проекта</h1>

	<ul class="steps">
		<li>
			<span class="ib">1</span>
			<div class="c ib">
				<div class="ib image">
					<img src="img/prize/case.jpg" width="230" height="230" alt=""/>
				</div>
				<div class="ib text" style="width: 425px;">
					<h3>Работа блогером Тез тура</h3>
					<p>про свой новый плагин aceCheckBrowser. Это плагин, который умеет проверять браузер, поддержку яваскрипта и даже подсовывать посетителю специальный ше, гА если юзер с мобильника зашел — то и про свой новый плагин aceCheckBrowser. Это плагин, который умеет проверять браузер, поддержку яваскрипта и даже подсовывать посетителю специальный ше, гА если юзер с мобильника зашел — то и</p>
				</div>
			</div>
		</li>
		<li>
			<span class="ib">2</span>
			<div class="c ib">
				<div class="ib text" style="width: 345px;">
					<h3>Автомобиль Nissan Juke</h3>
					<p>1. спортивный, дерзкий, озорной</p>
					<p>2. вместительный</p>
					<p>3. три алгоритма работы: Sport, Normal, Eco</p>
					<p>4. под капотом – турбированные 1,6л</p>
					<p>5. стильный и функциональный салон</p>
					<p>6. Пять дверей, пять посадочных мест</p>
					<p><strong>Воплощение яркой дизайнерской мысли!</strong></p>
				</div>
				<div class="ib car">
					<img src="img/prize/car.png" width="325" height="180" alt=""/>
				</div>
			</div>

		</li>
	</ul>
	<div class="actions">
		<a href="#" class="button blue corners">Смотреть видео</a><br/><br/>
		<a href="#" class="button grey corners">Характеристики автомобиля</a>
	</div>
	<br clear="all"/>
</div>
{% endblock %}