{% extends 'layout.twig' %}

{% block page_title %} REG PAGE TITLE {% endblock %}

{% block page_head %} {% endblock %}

{% block caption %} <a class="all" href="#">...</a> {% endblock %}

{% block content %} 
    Reg page 
{% endblock %}