header {
	background: url("../img/background-header.png") #0091d9 center top scroll no-repeat;
	padding-bottom: 120px;
	margin-bottom: -80px;
}
	header figure img {
		 padding: 15px 0;
		margin-left: -4px;
	}
	header .user-menu {
		float: right;
		line-height: 60px;
	}
	header .nav-inner {
		float:right;
		width: 26%;
		align:right;
	}
		.nav-inner .profile{
			width:27%;
			margin:0 2% 0 0;
			 /*float:right;*/
			font-size:13px;
			line-height:20px;
		}
		.nav-inner .profile .avatar{float:left; margin:0 10px 0 0;}
		.nav-inner .profile .username{ text-decoration:none;}
		.nav-inner .profile .author{color:#4d4d4d; font-size:11px;}
		.nav-inner .profile .message{
			display:inline-block;
			width:16px;
			height:12px;
			background:url(../img/message-icons.png) 0 0 no-repeat;
			vertical-align:middle;
			margin:0 5px;
		}
		*+ html .nav-inner .profile .message{ display:inline; zoom:1; }
		.new-message{
			position:absolute;
			width:auto;
			height:25px;
			line-height:25px;
			text-decoration:none;
			top:60px;
			left:71%;
			color:#000;
			background:#fff8ce;
			padding:0 8px;
			border:1px solid #d6d6d6;
			border-radius: 0 0 3px 3px;
		}
		.new-message .message{
			margin-left:0px !important;
			position:relative;
			top:-2px;
			background-position:0 -12px !important;
		}
		.nav-inner .profile li{ margin:3px 0 0 0; white-space: nowrap; }
		.nav-inner .profile .user-rating{ color:#4d4d4d; }
		.profile .user-rating strong{ color:#000; }

	.main-menu {
		background: url("../img/background-menu.png") transparent center top scroll repeat-x;
	}
		.main-menu ul{
			padding: 0 4px;
		}
			.main-menu ul li {
				margin-right: 15px;
			}
				.main-menu li a {
					font-size: 16px;
					line-height: 39px;
					color: #ffffff;
					font-weight: bold;
					text-shadow: 3px 3px 3px #000000;
					text-decoration: none;
				}
				.main-menu li a:hover,
				.main-menu li a.active {
					border-bottom: 1px solid #fff;
				}
	.search {
		float: right;
	}
		.search input {
			border: none;
			width: 250px;
			height: 25px;
			margin: 7px;
		}
		.search label {
			color: #FFFFFF;
		}
		.search img {
				display: inline;
			}


.button{
	color: #ffffff;
	font-weight: bold;
	padding: 3px 10px;
}

.corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.green {
	background: rgb(44,191,31); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(44,191,31) 0%, rgb(16,156,11) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,191,31)), color-stop(100%,rgb(16,156,11))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cbf1f', endColorstr='#109c0b',GradientType=0 ); /* IE6-9 */
}

.grey {
	background: rgb(159,170,177); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(159,170,177) 0%, rgb(114,129,138) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(159,170,177)), color-stop(100%,rgb(114,129,138))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9faab1', endColorstr='#72818a',GradientType=0 ); /* IE6-9 */
}
