.input-wide { width: 98%; _width: 97%; padding: 2px; }
.input-100 { width: 100px; padding: 2px; }
.input-200 { width: 200px; padding: 2px; }
.input-300 { width: 300px; padding: 2px; }
.note { font-size: 11px; color: #9c9c9c; display:block; margin:10px 0 20px 0;}
.checkbox { position: relative; top: 2px; margin: 0 4px 0 1px; }
.question-list { margin-bottom: 15px; }
.question-list li { margin-bottom: 5px; }
.question-list li input { margin-right: 5px; }


.markItUp  { width: 100%; }
.markItUpEditor { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }
.markItUpHeader { width: 100%; -moz-box-sizing: border-box; box-sizing: border-box; }

.markItUp, .mceEditor{margin-bottom:15px; display: block;}

	
.button.big-button{font-size:18px; font-weight:bold; padding:1px 9px; line-height:26px; -moz-border-radius:15px; border-radius:15px; -webkit-border-radius:15px; cursor:pointer;}

.registration_form .note {width: 394px; line-height: 14px;}



.logohref {
	margin: 3px 0 0 50px;
    position: absolute;
    font-family: Arial,Helvetica,Garuda,sans-serif;
    font-size: 12px;
}

.button {
	color: #000;
	font-weight: bold;
	padding: 2px 8px;
	line-height: 16px;
	text-decoration: none;
}

.button.corners {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.button.white {
  -webkit-border-radius: 12px;
          border-radius: 12px;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
  color: #4498bd;
  border: 1px solid #CCCCCC;
  background-color: #fff;
  font-size: 13px;
  font-weight: normal;

}

.button.green {
	background: rgb(44,191,31); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(44,191,31) 0%, rgb(16,156,11) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(44,191,31)), color-stop(100%,rgb(16,156,11))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(44,191,31) 0%,rgb(16,156,11) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cbf1f', endColorstr='#109c0b',GradientType=0 ); /* IE6-9 */
}

.button.grey {
	background: rgb(159,170,177); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(159,170,177) 0%, rgb(114,129,138) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(159,170,177)), color-stop(100%,rgb(114,129,138))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(159,170,177) 0%,rgb(114,129,138) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9faab1', endColorstr='#72818a',GradientType=0 ); /* IE6-9 */
}

.button.blue {
	background: rgb(52,185,228); /* Old browsers */
	background: -moz-linear-gradient(top,  rgb(52,185,228) 0%, rgb(19,142,207) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(52,185,228)), color-stop(100%,rgb(19,142,207))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgb(52,185,228) 0%,rgb(19,142,207) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgb(52,185,228) 0%,rgb(19,142,207) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgb(52,185,228) 0%,rgb(19,142,207) 100%); /* IE10+ */
	background: linear-gradient(top,  rgb(52,185,228) 0%,rgb(19,142,207) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34b9e4', endColorstr='#138ecf',GradientType=0 ); /* IE6-9 */

}