{% extends 'layout.twig' %}

{% block page_title %} ABOUT {% endblock %}

{% block content %}

<div class="caption">

</div>
<div class="text">
    <div class="options" style="display: table-row; width: 200px;">
        <a class="shaded corners" href="#">прочитать самые популярные посты</a><br/>
        <a class="shaded corners" href="#">посмотреть блогеров-участников</a><br/>
        <a class="shaded corners" href="#">все отели</a><br/>
    </div>
    <div class="list short ">
        <p>Друзья, приглашаем вас в увлекательное путешествие по лучшим отелям Турции!</p>
        <p>Популярные украиские блоггеры уже побывали на Анталийском и Эгейском побережьях, для того чтобы раскрыть все секреты работы турецких курортов для вас: преимущества и недостатки сервиса, особенности кухни и многое другое.</p>
        <p>С помощью их записей вы получите ответы на такие важнейшие вопросы как «а правда, что номера в буклете и вживую одинаковые?», «чем заняться в этом отеле в перерывах между сном и едой?» и «территория такая большая, я могу не увидеть всего интересного» и можете спокойно лететь в отпуск, будучи уверенным, что выбрали Именно Тот Отель. </p>
        <p>Знакомьтесь с отелями и оценивайте работы блоггеров голосованием. </p>
        <p>С помощью ваших голосов мы выберем победителя, который получит наш главный приз!</p>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>

{% endblock %}