<!DOCTYPE HTML>
<html>
    <head>
        <meta charset='utf-8' />
        <title>{% block page_title %} {% endblock %}</title>
        <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <a class="brand" href="#">Bloggers in hotels</a>
                <div class="nav-collapse">
                  <ul class="nav">
                    <li class="active"><a href="/admin">Home</a></li>
                  </ul>
                </div><!-- /.nav-collapse -->
              </div>
            </div><!-- /navbar-inner -->
          </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2">
                    {% block menu %}
                    <ul class="nav nav-pills nav-stacked">
                        <li><a href="/admin/topic">Topic</a></li>
                        <li><a href="/admin/blogger">Blogger</a></li>
                        <li class="nav-header">Отели</li>
                        <li><a href="/admin/hotel">Отели</a></li>
                        <li><a href="/admin/hoteltype">Типы отелей</a></li>
                        <li><a href="/admin/hotelcity">Города отелей</a></li>
                    </ul>
                    {% endblock %}
                </div>
                <div class="span8">
                    {% block content %} {% endblock %}
                </div>
            </div>
        </div>
    


        <script type="text/javascript" src="/js/jquery.js" charset="utf-8"></script>
        <script type="text/javascript" src="/js/bootstrap.js" charset="utf-8"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $(".delete").click(function(){
                    return confirm('Are you sure you want to delete?');
                })
            });
        </script>
    </body>
</html>