{% extends 'layout.twig' %}

{% block page_title %}Page Title{% endblock %}

{% block content %}
<div class="caption">

</div>
<div class="text">
    <div class="options">
        {% include 'list_options.twig' %}
    </div>
    <div class="list short hotels">
        {% include 'list_short_hotel.twig' %}
    </div>

    
    <div class="">
        Страница
        <ul class="c ib pagging">
            <li class="ib">1</li>
            <li class="ib"><a href="#">2</a></li>
            <li class="ib"><a href="#">3</a></li>
            <li class="ib"><a href="#">4</a></li>
            <li class="ib"><a href="#">5</a></li>
            <li class="ib"><a href="#">6</a></li>
            <li class="ib"><a href="#">7</a></li>
            <li class="ib"><a href="#">→</a></li>
        </ul>
    </div>
</div>

{% endblock %}
