<!DOCTYPE html>
<html>
<head>
    <title>{% block page_title %} {% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/smoothness/jquery-ui.css"/>

    <link href="/img/favicon.gif" rel="shortcut icon" />

    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</head>
<body>

<header>
    <div class="wrapper">
        {% if userCurrent %}
            <div class="profile">
                <a href="http://tezclub.local/profile/Arkadiy/"><img class="avatar" alt="Arkadiy" src="http://tezclub.com.ua/uploads/images/00/00/06/2012/02/17/avatar_48x48.jpg?185031"></a>
                <ul>
                    <li>
                        <a class="username" href="http://tezclub.local/profile/Arkadiy/"> Arkadiy Maslov </a>
                        <a class="message" id="new_messages" href="http://tezclub.local/talk/"></a>
                        <a class="author" href="http://tezclub.local/settings/profile/">Настройки</a>
                        <a class="author" href="http://tezclub.local/login/exit/?security_ls_key=259c40c6ebe8bb1e718d0bc661fb4a3e">Выход</a>
                        <br>
                        <span class="user-rating">Рейтинг <strong>4.27</strong></span>
                    </li>
                </ul>
            </div>
        {% else %}
            <div class="user-menu">
                <a class="button green corners" href="http://tezclub.local/login">войти</a>
                <span>или</span>
                <a class="button grey corners" href="http://tezclub.local/registration">зарегистрироваться</a>
            </div>
        {% endif %}

        <figure>
            <a href="#">
                <img class="ib" src="/img/logo.png" width="225" height="30" alt="logo"/>
            </a>
        </figure>
    </div>
    <div class="main-menu">
        <div class="wrapper">
            <div class="search">
                <label for="search">поиск</label>
                <input class="ui-corner-all" id="search" type="text" value=""/>
                <img src="/img/search.png" class="" width="12" height="10" alt=""/>
            </div>
            <ul class="c">
                <li class="ib"><a href="#">Главное</a></li>
                <li class="ib"><a href="#">Спецпроект</a></li>
                <li class="ib"><a href="#">Обсуждения</a></li>
                <li class="ib"><a href="#">Советы</a></li>
                <li class="ib"><a href="#">Мой тур</a></li>
                <li class="ib"><a href="#">Люди</a></li>
            </ul>
        </div>
    </div>
</header>

<article>
    <div class="wrapper">
        <ul class="c tabs">
            <li class="ib{% if currentpage == '/'%} active{% endif %}">
                <a class="ui-corner-all" href="/">Общая информация</a>
            </li>
            <li class="ib{% if currentpage == 'bloggers'%} active{% endif %}">
                <a class="ui-corner-all" href="/bloggers">Блоггеры</a>
            </li>
            <li class="ib{% if currentpage == 'hotels'%} active{% endif %}">
                <a class="ui-corner-all" href="/hotels">Отели</a>
            </li>
            <li class="ib{% if currentpage == 'blog'%} active{% endif %}">
                <a class="ui-corner-all" href="/blog">Обзоры</a>
            </li>
            <li class="ib{% if currentpage == 'page'%} active{% endif %}">
                <a class="ui-corner-all" href="/about">О проекте</a>
            </li>
        </ul>
        <div class="content corners">
            {% block content %} {% endblock %}
        </div>
    </div>
</article>


<footer>
    <div class="c wrapper">
        <div class="ib profile">
            {% if userCurrent %}
                <h3>Кутеев Слава</h3>
                <a href="http://tezclub.com.ua/topic/add/">Написать</a>
                <a href="http://tezclub.com.ua/talk/">Почтовый ящик</a>
                <a href="http://tezclub.com.ua/settings/profile/">Настройки профиля</a>
                <a href="http://tezclub.com.ua/logout">Выйти</a>
            {% else %}
                <a href="http://tezclub.com.ua/login">Войти</a>
                <a href="http://tezclub.com.ua/registration">Зарегистрироваться</a>
            {% endif %}
        </div>
        <div class="ib sections">
            <h3>Разделы</h3>
            <a href="http://tezclub.com.ua/blogs/">Обсуждения</a>
            <a href="http://tezclub.com.ua/people/">Люди</a>
            <a href="http://tezclub.com.ua/stream/">Активность</a>
        </div>
        <div class="ib information">
        </div>
        <div class="ib copy">
            © Tez Tour, 2011-2012 <br />
            // Бюро Социальных Коммуникаций
        </div>
    </div>
</footer>
</body>
</html>